<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <title>Budgetr - SHOW Page</title>
</head>
<body>
    <div class="container">
        <h1><%= budget.name %></h1>
        <p>
            <a class="button" href="/budgets">Back to ALL Expenses</a>
        </p>
        <b>Date</b>
            <ul>
                <li><%= budget.date %></li>
            </ul>
        <b>Name</b>
            <ul>
                <li><%= budget.name %></li>
            </ul>
        <b>From</b>
            <ul>
                <li><%= budget.from %></li>
            </ul>
        <b>Amount</b>
            <ul>
                <li>$<%= budget.amount %></li>
            </ul>
        <b>Tags</b>
            <ul>
                <li><%= budget.tags %></li>
            </ul>
    </div>
</body>
</html>