<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      background: black;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }

    form {
      display:inline;
    }
    .pokemon {
      border: 1px solid goldenrod;
    }
  </style>
  <title>Pokedex</title>
</head>
<body>
  <h1>Welcome to the pokedex! <a href="/pokemon/new">NEW Pokemon?</a></h1>
  <% for (let i in data) { %>
  <div class="pokemon">
    <img src="<%= data[i].img %>" alt="<%= data[i].name %>" width="50px">
    <%= data[i].name %>
    <a href="/pokemon/<%= i %>/edit">EDIT</a>
    <a href="/pokemon/<%= i %>">More details</a>
    <form action="/pokemon/<%= i %>?_method=DELETE" method="POST">
      <input type="submit" value="X"/>
    </form>
  </div>
  <% } %>
</body>
</html>