<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="/css/app.css">

    </head>
    <body>
        <div id="header-content">
            <center>
                <h1>Jake's Store</h1>
                <a id="add-product" href="/store/new">ADD a NEW Product</a>
            </center>
        </div>
        <div class="products-container">
                <% for(let i = 0; i < products.length; i++){ %>
                    <div class='product-card'>
                        <a href="/store/<%=products[i].id; %>">
                            <%=products[i].name%>
                        </a><br>
                        <a href="/store/<%=products[i].id; %>">
                            <img class="product-img" src="<%=products[i].img%>"/>
                        </a>
                            <font size=2>PRICE: $<%=products[i].price%></font>
                    </div>
                <% } %>
        </div>
        <div id="footer-content">
            <!--  -->
        </div>
    </body>
</html>